{% extends "base.html" %}

{% block body %}
	<h3>You are now logged in kis.</h3>

	<form>
		<input type="text" name="url" id="save-url" value="{{url_for('add_quote')}}" hidden>
		<input type="text" name="quote" tabindex="1" id="save-quote-name">
		<input type="submit" name="Lagre" id="save-quote">
	</form>
	<!-- <table>
		{% for quote in quotes %}
			<tr id="quote_{{quote.id}}">
				<td>{{quote.quote}}</td>
				<td>{{quote.date}}</td>
				<td>{{quote.create_by}}</td>
				{% if session.admin %}
					<td>
						<form action="{{url_for('delete_one_quote')}}" method="POST">
							<input type="text" name="quote_id" value="{{quote.id}}" hidden>
							<input type="submit" name="submit" value="Slett">
						</form>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table> -->
	<button id="pingbtn">Ping</button>
	<button id="stopPing">Stopp ping</button>
	<div id="test-id">
		
	</div>
	<div id="app-data">
		
	</div>
	{% block scripts %}
	{% endblock %}
		<script type=text/babel src="{{url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
