<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
	<meta charset="utf-8">
	<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://fb.me/react-15.0.0.js"></script>
 	<script src="https://fb.me/react-dom-15.0.0.js"></script> -->
 	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script> -->
 	<!-- <script src="https://npmcdn.com/react-router/umd/ReactRouter.min.js"></script> -->
</head>
<body>
	<div id="application">
		
	</div>
	<script type=text/javascript src="{{url_for('static', filename='build/app.js') }}"></script>
</body>
</html>
