<!DOCTYPE html>
<html>
<head>
	<title>Quotes</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js"></script> -->
	<script src="https://fb.me/react-15.0.0.js"></script>
 	<script src="https://fb.me/react-dom-15.0.0.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.js"></script> -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

<!--    <script type=text/javascript src="{{url_for('static', filename='js/static_js/react-15.0.0.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/static_js/react-dom-15.0.0.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/static_js/browser.min.js') }}"></script>-->
</head>
<body>
	<div id="navbar">
		
	</div>
	{% if session.logged_in %}
		<form action="{{url_for('logout')}}">
			<input type="submit" name="logout" value="Logg ut">
		</form>

		<form action="{{url_for('home')}}">
			<input type="submit" name="home" value="Hjem">
		</form>
	{% endif %}
	{% if session.admin %}
		<form action="{{url_for('delete_all_quotes')}}">
			<input type="submit" name="delete" value="Slett alle sitater">
		</form>

		<!-- <form action="{{url_for('add_new_user')}}">
			<input type="submit" name="new_user" value="Legg til bruker">
		</form> -->

		<form action="{{url_for('show_all_users')}}">
			<input type="submit" name="all_users" value="Vis alle brukere">
		</form>
	{% endif %}

	{% if success %}
		<p>{{success}}</p>
	{% endif %}

	{% if error %}
		<p>{{error}}</p>
	{% endif %}

	{% block body %}

	{% endblock %}
	
	{% block scripts %}

	{% endblock %}
</body>
</html>
